<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sissy Journal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'journal/css/diary-theme.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    
    <!-- Navigation Tabs (Post-it Notes) -->
    <nav class="post-it-notes">
        <a href="{% url 'journal:welcome' %}">Home</a>
        <a href="{% url 'journal:resource_list' %}">Resources</a>
        <a href="{% url 'journal:dashboard' %}">Dashboard</a>
        <a href="{% url 'journal:thread_list' %}">Fab Forum</a>
        <a href="{% url 'journal:blog_list' %}">Blog</a>
        <a href="{% url 'journal:entry_list' %}">Journal</a>
        {% if user.is_premium_user or user.is_highest_user %}
            <a href="{% url 'journal:qna_list' %}">Q&A</a>
        {% endif %}
    </nav>

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'journal/scripts/scripts.js' %}"></script>
    {% block scripts %}{% endblock %}
</body> 
<footer>
    <p>&copy; 2024 Sissy Diary</p>

    <div class="footer">
        <nav class="footer-nav">
            <a href="{% url 'journal:about' %}">About Us</a>
            <a href="{% url 'journal:contact' %}">Contact</a>
            <a href="{% url 'journal:privacy_policy' %}">Privacy Policy</a>
            <a href="{% url 'journal:terms_of_service' %}">Terms of Service</a>
            <a href="{% url 'journal:faq' %}">FAQ</a>
            <a href="{% url 'journal:feedback' %}">Feedback</a>
            <a href="{% url 'journal:logout' %}">Logout</a>
        </nav>
    </div>
</footer>

<div id="toast-container"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
