Django  # Core Django framework
django-crispy-forms==2.1  # Enhances form rendering
django-environ==0.11.2  # Environment variable management
django-fernet-fields==0.6  # Encrypted fields for models (if needed)
django-formtools==2.5.1  # Multi-step forms (if use Django
fastapi==0.109.0  # Modern, fast (high-performance) web framework for building APIs

# Optional - if using Flask alongside Django
Flask==3.0.1  # Lightweight WSGI web application framework
django-otp==1.3.0  # One-time password support (if using 2FA)
django-phonenumber-field==7.3.0  # Phone number field support (if needed)
django-two-factor-auth==1.15.5  # Two-factor authentication (if needed)
django_csp==3.8  # Content Security Policy headers for security

# Background tasks and Celery
celery==5.3.6  # For background task processing
redis==5.0.1  # Redis as a broker for Celery

# AI and ML tools
transformers==4.41.2  # Hugging Face Transformers library
torch==2.3.1  # PyTorch for running models
datasets==2.19.2  # Hugging Face datasets library (if used)
huggingface-hub==0.23.3  # Access Hugging Face models

# HTTP and API clients
requests==2.32.3  # HTTP client for making requests
httpx==0.26.0  # Async HTTP client for advanced usage
aiohttp==3.10.2  # Async HTTP client for use with async features

# Utilities and development tools
black==23.12.1  # Code formatter
flake8==7.0.0  # Linter for Python
isort==5.13.2  # Sorts imports in Python files
mypy-extensions==1.0.0  # Static type checking
pillow==10.2.0  # Image processing library
pycodestyle==2.11.1  # Python style guide checker
pyflakes==3.2.0  # Checks for Python errors
virtualenv==20.25.1  # Virtual environment management

# Security and encryption
cryptography  # Essential for encryption tasks
cffi==1.16.0  # C Foreign Function Interface for Python
certifi==2023.11.17  # SSL certificates
django-fernet-fields  # For encrypted fields in Django models

# Database and ORM
SQLAlchemy==2.0.30  # SQL toolkit and Object-Relational Mapping

# Data handling and processing
numpy==1.26.3  # Fundamental package for numerical operations
pandas==2.1.4  # Data manipulation and analysis
python-dateutil==2.8.2  # Date and time utilities
pytz==2023.3.post1  # World timezone definitions, needed for timezone support in Django
tzdata==2023.4  # Timezone database

# Optional packages for specific needs
textblob==0.17.1  # If you need simplified text processing
nltk==3.9  # For advanced natural language processing tasks
# openai==1.30.1  # If integrating with OpenAI's services
# pyarrow==16.1.0  # If handling large datasets with columnar storage

