{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container avatar-created-container">
    <h1 class="title">Your Sissy Avatar is Born!</h1>
    <div class="avatar-preview">
        <img src="{{ avatar.image.url }}" alt="Your Avatar">
    </div>
    <p class="description">Congratulations on creating your first avatar! Now it's time to dress up and make it fabulous.</p>
    <a href="{% url 'mall' %}" class="btn btn-register">Go to the Sissy Mall</a>
</div>
{% endblock %}
