{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container avatar-exists-container">
    <h1 class="title">Welcome Back, {{ user.sissy_name }}!</h1>
    <p class="description">It looks like you already have an avatar. You can update it, dress it up, or visit the Sissy Mall to find new outfits.</p>
    <div class="avatar-preview">
      <img src="{{ avatar.image.url }}" alt="Your Avatar" />
    </div>
    <div class="actions">
      <a href="{% url 'my_avatar' %}" class="btn btn-register">Dress Up</a>
      <a href="{% url 'mall' %}" class="btn btn-register">Go to the Sissy Mall</a>
    </div>
  </div>
{% endblock %}
