<!-- dressup/templates/dressup/base.html -->
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Virtual Try-On
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'dressup/styles.css' %}" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{% url 'journal:dashboard' %}">Dashboard</a>
        </li>
        <li>
          <a href="{% url 'dressup:dress_up' %}">Dress Up Game</a>
        </li>
      </ul>
    </nav>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
