{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">Dress Up Your Avatar</h1>
    <div id="avatar-area" class="avatar-area">
        <img src="{{ avatar.image.url }}" alt="Your Avatar">
    </div>
    <div id="clothing-pool" class="clothing-pool">
        {% for item in clothing_items %}
            <img id="item-{{ item.id }}" class="clothing-item" src="{{ item.image.url }}" alt="{{ item.name }}" draggable="true">
        {% endfor %}
    </div>
    <button id="reset-button" class="btn btn-reset">Reset Avatar</button>
</div>
{% endblock %}
