{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container favorite-outfit-list-container">
    <h1 class="title">Your Favorite Outfits</h1>
    <div class="outfit-grid">
        {% for outfit in favorite_outfits %}
            <div class="outfit-card">
                <img src="{{ outfit.image.url }}" alt="{{ outfit.name }}">
                <h3>{{ outfit.name }}</h3>
                <p class="description">{{ outfit.description }}</p>
            </div>
        {% endfor %}
    </div>
    <p class="cta">Want to add more favorite outfits? Go to the Sissy Mall to explore more!</p>
    <a href="{% url 'mall' %}" class="btn btn-register">Go to the Sissy Mall</a>
</div>
{% endblock %}
