<!-- dressup/templates/dressup/inventory.html -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Your Inventory</h2>
    <div class="items">
        {% for purchased_item in purchased_items %}
            <div class="item">
                <img src="{{ purchased_item.item.image.url }}" alt="{{ purchased_item.item.name }}">
                <h4>{{ purchased_item.item.name }}</h4>
                {% if purchased_item.item in avatar.equipped_items.all %}
                    <p>Currently Equipped</p>
                {% else %}
                    <form action="{% url 'dressup:equip_item' purchased_item.item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Equip</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
