/* General styles for faux leather texture */
h1 {
    color: #e103c7;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 48px;
    font-kerning: auto;
    text-align: center;
    text-shadow: 2px 2px 4px #888888;
}
h2 {
    font-family: 'Satisfy', cursive;
    font-size: 32px;
    font-weight: 400;
    font-kerning: auto;
    text-indent: 100px ;
    text-shadow: 2px 2px 4px #c50391;

}
h3 {
    font-family: 'Parisienne', cursive;
    font-size: 24px;
    font-weight: 400;
    font-kerning: auto;
    text-indent: 100px;
    text-shadow: 2px 2px 4px #c50391;

}
  
body {
    background-image: url('media/fauxleather.jpg');
    background-size: cover;
    font-family: 'Brush Script MT', cursive;
}
.form-group {
    inline-size: 300px;
    block-size: 1200px;
    position: absolute;
    inset-block-start: 80px;
    inset-inline-start: 30px;
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
    
}
.welcome-page {
    inline-size: 600px;
    block-size: 1500px;
    position:absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('media/newcover.png');
    background-size: 600px 1500px;
    background-repeat: no-repeat;
    position: center;
}
.dashboard-page {
    inline-size: 1200px;
    block-size: 1500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
    background-image: url('media/insidecover.jpg');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    
}
.recent-entries {
    inline-size: 500px;
    block-size: 700px;
    position: absolute;
    inset-block-start: 300px;
    inset-inline-start: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
}
.recent-entries-details {
    inline-size: 500px;
    block-size: 700px;
    position: absolute;
    inset-block-start: 300px;
    inset-inline-start: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
}    
.profile-page {
    inline-size: 1200px;
    block-size: 1500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('media/insidecover.jpg');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
}
.profile-picture img {
    inline-size: 200px;  /* Set the width */
    block-size: 200px; /* Set the height */
    transform: rotate(-15deg);
}
/* Profile Page Layout */

.profile-details {
    inline-size: 500px;
    block-size: 700px;
    position: absolute;
    inset-block-start: 300px;
    inset-inline-start: 50px;
    font-family: 'Brush Script MT', cursive;
    font-size: medium;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
    transform: rotate(-5deg);
}
#diary-container {
    position: relative;
   
  }
  
#post-it-buttons {
    position: absolute;
    inset-block-start: 20px;
    inset-inline-end: 350px;
    z-index: 999;
  }
  
.post-it {
    background-color: #fbafda; /* Yellow like a post-it! */
    border: none;
    padding: 1px;
    margin: 1px;
    box-shadow: 1px 1px 0px #888888; /* A little shadow to make it pop */
    font-size: 32px;
    cursor: pointer;
    transform: rotate(7deg); /* A little tilt for that post-it authenticity */
  }
  
  .post-it:hover {
    background-color: #f9b5e5; /* A little lighter when hovered */
  }
  
/* Diary Page Layout */
 .diary-page {
    inline-size: 1200px;
    block-size: 1500px;
    background-image: url('media/lines.png');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
}
.diary-page-details-left {
    inline-size: 500px;
    block-size: 700px;
    position: absolute;
    inset-block-start: 150px;
    inset-inline-start: 50px;
    font-family: 'Great Vibes', cursive;
    font-size: medium;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
}
.diary-page-details-right {
    inline-size: 500px;
    block-size: 700px;
    position: absolute;
    inset-block-start: 150px;
    inset-inline-start: 700px;
    font-family: 'Great Vibes', cursive;
    font-size: medium;
    font-kerning: auto;
    font-weight: 400;
    color: #740782;
}
 .new-entry-page {
    inline-size: 1200px;
    block-size: 1500px;
    accent-color: #e84fdb;
    background-image: url('media/lines.png');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;

}
 .prompt {
    inline-size: 300px;
    block-size: 900px;
    position:absolute;
    inset-block-start: 50px;
    inset-inline-start: 700px;
    inset-inline-end: 100px;
    font-size:larger;
    font-family: 'Satisfy', cursive;
    accent-color: #e84fdb;

 }
.dayinsp {
    inline-size: 300px;
    block-size: 900px;
    position:absolute;
    inset-block-start: 0px;
    inset-inline-start: 700px;
    inset-inline-end: 100px;
    font-size: x-large;
    font-family: 'Great Vibes', cursive;
    color: #e103c7;
    accent-color: #e84fdb;
}
 .entry-detail-page {
    inline-size: 1200px;
    block-size: 1500px;
    accent-color: #e84fdb;
    background-image: url('media/lines.jpg');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
 }
    .entry-detail-page-left {
        inline-size: 500px;
        block-size: 700px;
        position: absolute;
        inset-block-start: 50px;
        inset-inline-start: 70px;
        font-family: 'Great Vibes', cursive;
        font-size: medium;
        font-kerning: auto;
        font-weight: 400;
        color: #740782;
    }
    .entry-detail-page-right {
        inline-size: 500px;
        block-size: 700px;
        position:absolute;
        inset-block-start: 40px;
        inset-inline-start: 700px;
        font-family: 'Great Vibes', cursive;
        font-size: medium;
        font-kerning: auto;
        font-weight: 400;
        color: #740782;
    }

    
.header {
    block-size: 200px;
    inline-size: 600px;
    display: flex;
    align-items: center; /* This centers the text vertically */
  }
  
.header-text {
    flex-grow: 1; /* This pushes the text to the right */
    inset-block-start: 200px;
    inset-inline-start: 200px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    font-weight: 400;
    font-kerning: auto;
    text-shadow: 2px 2px 4px #c50391;
    z-index: index 999;
    
  }
/* Button Styles */ 
button {
    background-color: #FF88B1;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #FF69B4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #E76F89;
}

/* Profile Picture */
.profile-picture {
    position: absolute;
    inset-block-start: 100px;
    inset-inline-start: 80px;
    z-index: 10;
    inline-size: 40px;
    block-size: auto;
    border: 3px solid white;
    border-radius: 50%;
    transform: rotate(-15deg);
}

.profile-picture::before,
.profile-picture::after {
    content: "";
    position: absolute;
    inset-block-end: 10px;
    inset-inline-end: 10px;
    inline-size: 200px;
    block-size: 50px;
    background-color: white;
    z-index: 20;
    transform: rotate(-45deg);
}

.profile-picture::before {
    inset-block-start: 100px;
    inset-inline-start: 100px;
    z-index: 30;
    transform: rotate(-45deg);
}

.profile-picture::after {
    inset-block-start: 100px;
    inset-inline-end: 100px;
    transform: rotate(45deg);
}
/* Additional Styles */
.dashboard-link  {
    font-size: small;
    font-style: italic;
    font-weight: 400;
    color: #740782;
    position:absolute;
    inset-block-end: 200px;
    inset-inline-start: 40px;

}
.edit-profile-link {
    font-size: small;
    font-style: italic;
    font-weight: 400;
    color: #740782;
    position:absolute;
    inset-block-end: 100px;
    inset-inline-start: 40px;
}
a {
    color: #FF69B4;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #FF1493;
}
* Add stickers */
.heart-sticker {
    position: absolute;
    inline-size: 50px;
    block-size: 50px;
    background-image: url('media/heartdrawing.png');
    background-size: cover;
}

.flower-sticker {
    position: absolute;
    inline-size: 50px;
    block-size: 50px;
    background-image: url('media/flowersticker.png');
    background-size: cover;
}
/* Cute cover */
.back-cover {
    inline-size: 1200px;
    block-size: 1600px;
    background-image: url('media/backcover.jpg');
    background-color: #FFD1DC;
    text-align: center;
    padding: 50px;
    font-size: 24px;
    border: 3px solid #FF69B4;
    border-radius: 20px;
}
.logreg-section {
    inline-size: 1200px;
    block-size: 1500px;
    background-color: #e84fdb;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-image: url('media/insidecover.jpg');
    background-size: 1200px 1500px;
    background-repeat: no-repeat;
    position: absolute;
    inset-block-start: 30px;
    inset-inline-start: 30px;
}
@media only screen and (max-inline-size: 768px) {
    .post-it {
      font-size: 12px; /* Smaller text for mobile */
      padding: 8px; /* Smaller padding */
    }
}    