{% extends "virtual_try_on/base.html" %}
{% load static %}

{% block title %}Avatar Customization{% endblock %}

{% block content %}
<div class="frame-container">
    <div class="customization-container">
        <div class="title-banner">
            <h1>Customize Your Avatar</h1>
        </div>

        <div class="avatar-section">
            <div class="avatar-display" id="avatar-display">
                <div class="podium">
                    <img id="avatar-body" src="{{ body_image_path }}" alt="Body">
                    <img id="avatar-hair" src="{{ hair_image_path }}" alt="Hair">
                    <img id="avatar-stage" class="stage" src="{% static 'virtual_try_on/podium.png' %}" alt="Avatar Stage">
                    <div class="banner">
                        <h2>{{ user.username }}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-controls">
            <
            <button type="button" onclick="resetAvatarClothing()">Reset</button>                        
            <button type="button" onclick="saveAvatarClothing()">Save</button>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="{% static 'virtual_try_on/scripts.js' %}"></script>
{% endblock %}
