<!-- templates/virtual_try_on/premium_outfit_list.html -->
{% extends "base.html" %}

{% block content %}
<div class="outfit-list">
    <h1>Premium Outfits</h1>
    <ul>
        {% for outfit in outfits %}
            <li>
                <a href="{% url 'premium_outfit_detail' outfit.pk %}">
                    <img src="{{ outfit.get_image_url }}" alt="{{ outfit.name }}">
                    <h2>{{ outfit.name }}</h2>
                    <p>{{ outfit.description }}</p>
                    <span>${{ outfit.price }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
