{% extends 'base.html' %}
{% block title %}About The Pink Book{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h1 class="neon-accent-bottom">About The Pink Book</h1>
        <img src="{% static 'journal/media/pinkbooklogo.jpg' %}" alt="The Pink Book Logo" class="pink-logo" />
        <p>Welcome to The Pink Book, a safe space for self-exploration and growth. Our interactive journal is designed with love, embracing a style that's unapologetically pink and cute!</p>

        <h2 class="neon-accent-bottom">Our Mission</h2>
        <p>We are committed to providing a supportive environment, encouraging self-acceptance and personal development. Embrace your journey and join our loving community!</p>

        <h2 class="neon-accent-bottom">Meet the Team</h2>
        <p>Get to know the passionate individuals behind The Pink Book:</p>
        <ul>
            <li><strong>Sammi:</strong> The visionary leader and creator of The Pink Book.</li>
            <li><strong>Sapphire Sparkle:</strong> The coding enthusiast, always eager to help and support the project's technical needs.</li>
        </ul>

        <h2 class="neon-accent-bottom">Contact Us</h2>
        <p>If you have any questions or would like to get in touch, please contact us at 
            <a href="mailto:info@thepinkbook.com" class="contact-link">info@thepinkbook.com</a>.
        </p>
    </div>
</div>
{% endblock %}
