{% extends 'base.html' %}
{% load static %}
{% block title %}
  Categories
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Left Page - Categories Listing -->
    <div class="cute-card">
      <h1 class="pink-title">Categories</h1>
      {% for category in categories %}
        <div class="category-link">
          <a href="{% url 'journal:category_detail_view' category.id %}">{{ category.name }}</a>
        </div>
      {% endfor %}
    </div>

    <!-- Right Page - Community Message -->
    <div class="cute-card">
      <h2>Explore Topics</h2>
      <p>Dive into a wide range of topics and find the content that speaks to your sissy heart. There's always something fabulous to discover!</p>
    </div>

    <!-- Book Binding in the Center -->
    <div class="binding"></div>
  </div>
{% endblock %}
