{% extends 'base.html' %}
{% load static %}
{% block title %}
  Create a New Post
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Left Page - Create Post Form -->
    <div class="fluffy-card">
      <h2 class="pink-title">Create a New Post</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-register">Create Post</button>
      </form>
    </div>

    <!-- Right Page - Post Tips -->
    <div class="fluffy-card">
      <h2>Share Your Thoughts</h2>
      <p>Whether it's a question, idea, or story, feel free to share it here with our fabulous community!</p>
    </div>

{% endblock %}
