{% extends 'base.html' %}
{% load static %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div class="container">
    <div class="diary-spread">
      <div class="left-page">
        <div class="profile-picture">
          {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="User DP" />
          {% else %}
            <img src="{% static 'journal/media/default.jpg' %}" alt="Default DP" />
          {% endif %}
        </div>

        <h2>Welcome, {{ user.sissy_name }}!</h2>

        <div class="edit-profile-links">
          <a href="{% url 'journal:profile_update' %}" class="btn btn-register">Edit Profile</a>
          <a href="{% url 'journal:profile_settings' %}" class="btn btn-register">Settings</a>
        </div>
        <div class="dashfont">
          <h3>Quote of the Day</h3>
          <p>{{ quote_of_the_day }}</p>

          <ul>
            <li>
              <strong>Girly Gauge:</strong>
              {% if avg_subjectivity > 0.51 %}
                Oh, so girly, Gurl!
              {% elif avg_subjectivity == 0.5 %}
                You're girling up, honey!
              {% elif avg_subjectivity < 0.49 %}
                Boy alert, write with your heart not your head.
              {% endif %}
            </li>
            <li>
              <strong>Most talked about:</strong>
              {% for keyword, count in frequent_keywords %}
                {{ keyword }} ({{ count }}),
              {% endfor %}
            </li>
            <li>
              <strong>Most Common Tag:</strong> {{ common_tags.0 }}
            </li>
            <li>
              <strong>Most Common Emotion:</strong> {{ most_common_emotions.0 }}
            </li>
            <li>
              <strong>Average Word Count:</strong> {{ average_word_count }}
            </li>
            <li>
              <strong>Consistent Journaling:</strong> You've been journaling for {{ current_streak_length }} consecutive days!
            </li>
            {% if current_streak_length >= 10 %}
              <li>Impressive dedication, {{ user.sissy_name }}, your consistency is commendable. 🚀</li>
            {% elif current_streak_length >= 5 %}
              <li>You're building a strong habit. Keep the momentum alive! 🔥</li>
            {% endif %}
            <li>
              <strong>Peak Journaling Hour:</strong> You're most active around {{ most_active_hour }}:00. Whether it's morning reflections or evening recaps, keep pouring your thoughts!
            </li>
          </ul>
          {% for entry in entries %}
            <ul>
              <li>{{ entry.title }}</li>
            </ul>
            <p>
              Check out the <a href="{% url 'journal:entry_detail' entry.pk %}" class="btn btn-register">entry</a> you wrote on {{ entry.created_at }}
            </p>
            <p>
              or check out all your <a href="{% url 'journal:entries' %}" class="btn btn-register">entries</a>
            </p>
          {% endfor %}
          {% if not entries %}
            <p>
              No entries yet, sis. You should totally write a <a href="{% url 'journal:new_entry' %}" class="btn btn-register">new entry</a> in your journal
            </p>
          {% endif %}
        </div>
      </div>
      <div class="right-page">
        <div class="try-on-button-container">
          <a href="{% url 'dressup:create_avatar' %}" class="try-on-button">Try On Clothes! 💖</a>
        </div>

        <div class="tasks-section">
          <h3>{{ user.sissy_name }}'s Tasks</h3>
          <div id="task-section">
            <button id="generate-task" class="btn btn-register">Generate Task</button>
            <div id="task-result"></div>
            <button id="complete-task" class="btn btn-register" data-task-id="1">Complete Task</button>
            <div id="points-display">Points: {{ user.points }}</div>
            <button id="fail-task" class="btn btn-register">Fail Task</button>
          </div>

          <h3>{{ user.sissy_name }}'s Chores Chart</h3>
          <ul id="todo-list">
            {% for todo in todos %}
              <li id="todo-{{ todo.pk }}" class="{% if todo.completed %}completed{% endif %}">
                <input type="checkbox" class="todo-checkbox" data-id="{{ todo.pk }}" />
                <span class="todo-text">{{ todo.task }}</span>
                <a href="{% url 'journal:todo_update' todo.pk %}" class="btn btn-register">Edit</a>
                <a href="{% url 'journal:todo_detail' todo.pk %}" class="btn btn-register">Details</a>
              </li>
            {% endfor %}
            <p>
              <a href="{% url 'journal:create_todo' %}" class="btn btn-register">Add New Chore</a>
            </p>
          </ul>
        </div>

        <div class="glam-goals-section">
          <h1 class="glam-goals-title">Glam Goals</h1>
          <ul>
            {% for habit in habits %}
              <li id="habit-{{ habit.id }}" class="habit-item">
                <div class="progress-container">
                  <div class="progress-bar" style="inline-size: {{ habit.progress }}%;"></div>
                  <button class="update-progress-button btn btn-register" data-id="{{ habit.id }}">Update Progress</button>
                </div>
                {{ habit.name }} - Count: <span id="habit-count-{{ habit.id }}">{{ habit.increment_counter }}</span>
                <button class="increment-counter-button btn btn-register" data-id="{{ habit.id }}">+1</button>
                <div id="insight-{{ habit.id }}" class="habit-insight">{{ habit.get_insights }}</div> <!-- New line for insight -->
              </li>
            {% endfor %}

            <p>
              <a href="{% url 'journal:habit_create' %}" class="btn btn-register">Add New Goal</a>
            </p>
          </ul>
        </div>
      </div>
    </div>
    <div class="binding"></div>
  </div>
  <div id="toast-container"></div>
{% endblock %}
