{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container diary-spread">
    <!-- Left Page - Profile and Recent Activities -->
    <div class="left-page">
        <div class="profile-picture">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Pic">
            {% else %}
            <img src="{% static 'default-profile-pic.jpg' %}" alt="Profile Pic">
            {% endif %}
        </div>

        <h2>Welcome, {{ user.sissy_name }}!</h2>

        <div class="edit-profile-links">
            <a href="{% url 'journal:profile_update' %}" class="btn btn-register">Edit Profile</a>
            <a href="{% url 'journal:profile_settings' %}" class="btn btn-register">Settings</a>
        </div>
         <ul>
        <li><strong>Girly Gauge:</strong>
            {% if avg_subjectivity > 0.51 %} Oh, so girly, Gurl!
            {% elif avg_subjectivity == 0.5 %} You're girling up, honey!
                {% elif avg_subjectivity < 0.49 %} Boy alert, write with your heart not your head.
                {% endif %}
            </li>
            <li><strong>Most talked about:</strong>
                {% for keyword, count in frequent_keywords %}
                {{ keyword }} ({{ count }}),
                {% endfor %}
            </li>
            <li><strong>Most Common Tag:</strong> {{ common_tags.0.0 }}</li>
            <li><strong>Most Common Emotion:</strong> {{ most_common_emotions.0.0 }}</li>
            <li><strong>Average Word Count:</strong> {{ average_word_count }}</li>
            <li><strong>Consistent Journaling:</strong> You've been journaling for {{ current_streak_length }} consecutive days!</li>
            {% if current_streak_length >= 10 %}
            <li>Impressive dedication, {{ user.sissy_name }}, your consistency is commendable. 🚀</li>
            {% elif current_streak_length >= 5 %}
            <li>You're building a strong habit. Keep the momentum alive! 🔥</li>
            {% endif %}
            <li><strong>Peak Journaling Hour:</strong> You're most active around {{ most_active_hour }}:00. Whether it's morning reflections or evening recaps, keep pouring your thoughts!</li>
            {% for entry in entries_with_insights %}
            <li>{{ entry.insight }}</li>
            {% endfor %}
        </ul>
        <p>{{ collective_insight }}</p>
        {% if not entries_with_insights %}
        <p>No insights yet, darling. Why not write a new journal entry?</p>
        {% endif %}
        <div class="try-on-button-container">
            <a href="{% url 'virtual_try_on:avatar_customization' %}" class="try-on-button">Try On Clothes! 💖</a>
        </div>
    </div>
        <h3>Recent Entries</h3>
        <ul>
            {% for entry in recent_entries %}
            <li>
                <a href="{% url 'journal:entry_detail' entry.pk %}">{{ entry.title }}</a>
                <small>Created on {{ entry.timestamp|date:"d M Y" }}</small>
            </li>
            {% empty %}
            <p>You haven't added any recent entries. Start journaling now!</p>
            {% endfor %}
        </ul>
    </div>

    <!-- Right Page - Chores and Goals -->
    <div class="right-page">
        <h3>{{ user.sissy_name }}'s Chores Chart</h3>
        <ul id="todo-list">
            {% for todo in todos %}
            <li id="todo-{{ todo.pk }}">
                <input type="checkbox" class="todo-checkbox" data-id="{{ todo.pk }}">
                <span class="todo-text">{{ todo.task }}</span>
                <a href="{% url 'journal:todo_update' todo.pk %}" class="btn btn-register">Edit</a>
                <a href="{% url 'journal:todo_detail' todo.pk %}" class="btn btn-register">Details</a>
            </li>
            {% empty %}
            <p><button id="generate-task">Generate Task</button></p>
            <div id="task-result"></div>
            <button id="complete-task">Complete Task</button>
            <div id="points-display">Points: 0</div>
html
        <button id="fail-task">Fail Task</button>
        {% endfor %}
        <p><a href="{% url 'journal:create_todo' %}" class="btn btn-register">Add New Chore</a></p>
    </ul>

    <h1 style="color: hotpink;">Glam Goals</h1>
    <ul>
        {% for habit in habits %}
        <li id="habit-{{ habit.id }}" style="color: hotpink;">
            <div class="progress-container">
                <div class="progress-bar" style="inline-size: {{ habit.progress }}%; background-color: hotpink;"></div>
                <button class="update-progress-button btn btn-register" data-id="{{ habit.id }}">Update Progress</button>
            </div>
            {{ habit.name }}
        </li>
        {% endfor %}
    </ul>
   

    <!-- Book Binding in the Center -->
    <div class="binding"></div>
</div>
{% endblock %}
