{% extends 'base.html' %}
{% block title %}
  FAQs
{% endblock %}
{% block content %}
  <div class="container">
    <!-- Left Page - FAQs Content -->
    <div class="card decorative-border">
      <h1 class="pink-title">Frequently Asked Questions</h1>
      <ul class="faqs-list">
        {% for faq in faqs %}
          <li class="faq-item">
            <h2 class="faq-question">{{ faq.question }}</h2>
            <p class="faq-answer">{{ faq.answer }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
