{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}{{ guide.title }}{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ guide.title }}</h1>
    <p><strong>Category:</strong> {{ guide.category.name }}</p>
    <p>{{ guide.description }}</p>
    
    <hr>
    
    <h2>Content</h2>
    <div>
        {{ guide.content|safe }}  <!-- Assuming content might have HTML, hence the use of `|safe` -->
    </div>
    
    <hr>

    <a href="{% url 'journal:resource_category_detail' guide.category.pk %}">Back to {{ guide.category.name }}</a>
</div>
{% endblock %}
