{% extends "base.html" %}
{% load static %}

{% block title %}Sissy Journal{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'main/welcome.css' %}">
{% endblock %}
{% block content %}
<a href="{% url 'journal:register_view' %}" class="btn-register">Register Now</a>
<p>Already have an account? <a href="{% url 'journal:login_view' %}">Sign in</a></p>

<div class="welcome-page">
    <!-- Welcome Image -->


    <!-- Welcome Message -->
    <h1 class="welcome-title">Welcome to Your Sissy Journal</h1>
    <p class="welcome-description">A place to explore, express, and embrace your sissy self. Dive into daily prompts, track habits, and join a loving community.</p>

    <!-- Features Overview -->
    <section class="features">
        <div class="feature">
            <h2>AI-Prompted Journal</h2>
            <p>Receive personalized prompts to inspire your daily writing.</p>
        </div>
        <div class="feature">
            <h2>Habit Tracker</h2>
            <p>Set and track habits to shape your sissy journey.</p>
        </div>
        <!-- More features... -->
    </section>

    <!-- Call to Action -->
    <div class="call-to-action">
        <h2>Join Today and Start Your Journey</h2>
        <a href="{% url 'journal:register_view' %}" class="btn-register">Register Now</a>
        <p>Already have an account? <a href="{% url 'journal:login_view' %}">Sign in</a></p>
    </div>
</div>
{% endblock %}



