{% extends 'base.html' %}

{% block title %}
  A journal just for you, sis
{% endblock %}
{% block content %}
  <div class="container">
    <div class="fluffy-card">
      <h2>Recent Entries</h2>
      <section class="recent-entries-section">
        <div class="recent-entries">
          {% for entry in recent_entries %}
            <div class="entry-card">
              <h4>{{ entry.title }}</h4>
              <p>
                {{ entry.content|truncatewords:20 }}... <a href="{% url 'journal:entry_detail_view' entry.id %}">Read more</a>
              </p>
            </div>
          {% empty %}
            <p>You haven't added any recent entries. Start journaling now!</p>
          {% endfor %}
          <a href="{% url 'journal:new_entry_view' %}" class="btn btn-register">New Entry</a>
        </div>
      </section>
    </div>

    <div class="binding"></div>
  </div>
{% endblock %}
