{% extends 'base.html' %}
{% load static %}
{% block title %}New Entry for Task{% endblock %}

{% block content %}
<div class="fluffy-card">
    <h2>Task: {{ task.description }}</h2>
    <p><strong>Points for Completion:</strong> {{ task.points_awarded }}</p>
    <p><strong>Points Penalty for Failure:</strong> {{ task.points_penalty }}</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-register">Submit Entry</button>
    </form>
</div>



    <!-- Right Page - Tips and Encouragement -->
    <div class="column">
        <div class="fluffy-card">
        <h2>Tips for Your Entry</h2>
        <p>This is your chance to explain or discuss how it felt to perform the task. Was it easy? Did you hate it? Did it scare your sissy ass straight(pfft yeah right LOL) 💖</p>
        <p>Its also your evidence for the points system</p> 
        <p>It's specific to the task generated and checked by our staff to award points so no names or addresses or otherwise</p>
        <p> Points will be deducted and fair warning, they will be harshly judged, the staff may be sissies, but sisters don't waste sisters time right girls?</p>
        <p> So stay on topic sissy! </p>
    </div>

</div>
{% endblock %}
