{% extends "base.html" %}
{% load static %}
{% block title %}New Journal Entry{% endblock title %}
{% block head %}<link rel="stylesheet" href="{% static 'diary-theme.css' %}">{% endblock head %}
{% block content %}
<div class="new-entry-page">
    <h2><p>...</p>
       <p> Empty your tiny head, {{user.sissy_name}}</p></h2>
    <form method="post">
        {% csrf_token %}
       <div class="form-group">
        <fieldset class="form-group">
           
         <p class= "dayinsp">Today's Inspo:</p>
         <p class= "prompt">{{ dynamic_prompt }}</p>
          <P>  {{ form.hidden_fields }}</p>
           <p> {{ form.non_field_errors }}</p>
            <p>{{ form.as_p }}</p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </div>
    </form>
</div>
{% endblock content %}
