{% extends 'base.html' %}
{% load static %}
{% block title %}Profile of {{ user.sissy_name }}{% endblock %}
{% block content %}
<div class="container">
    <!-- Left Page - Profile Overview -->
    <div class="cute-card">
        {% if user.profile_picture %}
        <div class="profile-picture">
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
        </div>
        {% else %}
        <div class="profile-picture">
            <img src="{% static 'default-profile-pic.jpg' %}" alt="Profile Picture">
        </div>
        {% endif %}

        <div class="profile-details">
            <h2>This diary belongs to...{{ user.sissy_name }}</h2>
            <p>{{ user.sissy_name }} is a {{ user.get_sissy_type_display }}</p>
            <p>Pronouns: {{ user.pronouns }}</p>
            <p>{{ user.bio }}</p>
            <p>DOB: {{ user.date_of_birth }}</p>
            <p>Chastity? {{ user.get_chastity_status_display }}</p>
            <p>Owned? {{ user.get_owned_status_display }}</p>
            <p>Location: {{ user.location }}</p>
        </div>

        <a href="{% url 'journal:update_profile_view' %}" class="btn btn-register">Edit Profile</a>
        <a href="{% url 'journal:dashboard_view' %}" class="btn btn-register">Back to Dashboard</a>
    </div>

    <!-- Right Page - Profile Actions -->
    <div class="cu-"-
        <h2>Customize Your Profile</h2>
        <p>Want to add a little more sparkle to your profile? Change your details or pick a fabulous theme!</p>
        <a href="{% url 'journal:customize_theme_view' %}" class="btn btn-register">Customize Theme</a>
    </div>

    <!-- Book Binding in the Center -->
    <div class="binding"></div>
</div>
{% endblock %}
