{% load static %}
{% extends 'base.html' %}
{% block title %}
  {{ object.name }} Resources
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Left Page - Resource Category Details -->
    <div class="card">
      <h2>{{ object.name }}</h2>
      <p>Explore the best resources for {{ object.name.lower() }}! We have everything to help you on your fabulous journey. 💖</p>
      <ul class="resource-category-list">
        {% for resource in object.resources.all %}
          <li>
            <a href="{% url 'journal:resource_detail' resource.pk %}" class="pink-link">{{ resource.title }}</a>
            <p>{{ resource.description }}</p>
            <a href="{{ resource.link }}" target="_blank" class="btn btn-register">Visit Link</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Book Binding in the Center -->
    <div class="binding"></div>
  </div>
{% endblock %}
