{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ object.name }}</h2>
    <p>Explore the best resources for {{ object.name|lower }}!</p>
    <ul class="resource-category-list">
        {% for resource in object.resources.all %}
        <li>
            <a href="{% url 'journal:resource_detail' resource.pk %}">{{ resource.title }}</a><br>
            <p>{{ resource.description }}</p>
            <a href="{{ resource.link }}" target="_blank">Visit Link</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
