{% extends 'base.html' %}
{% block title %}
  {{ object.name }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="cute-card">
        <h2 class="pink-title">{{ object.name }}</h2>
        <p>Explore the best resources for {{ object.name|lower }}!</p>
        <ul class="resource-category-list">
            {% for resource in object.resources.all %}
            <li class="resource-item">
                <a href="{% url 'journal:resource_detail' resource.pk %}" class="pink-link">{{ resource.title }}</a><br />
                <p>{{ resource.description }}</p>
                <a href="{{ resource.link }}" target="_blank" class="btn btn-register">Visit Link</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Spotlight Resource -->
    <div class="cute-card">
        <h2>Spotlight Resource</h2>
        {% if featured %}
        <div class="featured-resource card-inner">
            <h3>{{ featured.title }}</h3>
            <p>{{ featured.description }}</p>
            <a href="{{ featured.link }}" class="btn btn-register" target="_blank">Check It Out!</a>
        </div>
        {% else %}
        <p>No featured resource today. Check back soon!</p>
        {% endif %}
    </div>
    <!-- Book Binding in the Center -->
    <div class="binding"></div>
</div>
{% endblock %}
