{% extends 'base.html' %}
{% load static %}

{% block title %}
  Forum Threads
{% endblock %}
{% block content %}
  <div clclass="card">
    <!-- Left Page - Threads Listing -->
    <div class="fluffy-card">
      <div class="list-group">
        <h2>Threads</h2>

        {% for thread in threads %}
          <ul>
            <li>
              <a href="{% url 'journal:posts' thread.id %}" class="pink-link"><h5 class="mb-1">{{ thread.title }}</h5></a>
            </li>
          </ul>
        {% endfor %}
      </div>
      <!-- Pagination Controls -->
      <div class="mt-4 pagination-container">
        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
              </li>
            {% endif %}
            {% for num in paginator.page_range %}
              <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>

    <!-- Right Page - Motivation and Tips -->
    <div class="fluffy-card">
      <h2>Explore More</h2>
      <p>Discover more threads or start a new discussion. This is your space to connect and share with fellow sissies.</p>
    </div>
{% endblock %}
