{% extends 'base.html' %}
{% load static %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="cover-page decorative-border">
    <h1 class="welcome-title">Welcome to Your Sissy Journal</h1>
    <p class="welcome-description">A place to explore, express, and embrace your sissy self. Dive into daily prompts, track habits, and join a loving community. 💖✨</p>
    <a href="{% url 'journal:register' %}" class="btn btn-register">Register Now</a>
  </div>

  <div class="logreg-section decorative-border">
    <h2>Login to Your Account</h2>
      <form class="logreg-form" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.sissy_name.label_tag }}
        {{ form.sissy_name }}
        {{ form.sissy_name.errors }}
    </div>
    <div>
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <button type="submit">Login</button>
</form>
    <p>
      <a href="{% url 'journal:password_reset' %}" class="btn btn-register">Forgot Password?</a>
    </p>
  </div>

  <div class="info-sections decorative-border">
    <div class="info-column">
      <h2>Explore More</h2>
      <p>Discover more threads or start a new discussion. This is your space to connect and share, darling! ✨</p>
      <a href="{% url 'journal:thread_list' %}" class="btn btn-register">Explore Threads</a>

      <h2>Join the Community</h2>
      <p>Connect with like-minded individuals and share your journey. Together, we can support and inspire each other. 💕</p>
      <p>
        <a href="{% url 'journal:register' %}" class="btn btn-register">Join Now</a>
      </p>

      <h2>Get Inspired</h2>
      <p>Stay motivated and inspired with journal prompts tailored to your personal sissy journey.</p>
      <a href="{% url 'journal:feature_list' %}" class="btn btn-register">Check out our features!</a>
    </div>
  </div>
{% endblock %}
